<ng-container *transloco="let T; prefix: 'notebook'" class="card flex justify-content-center">
  <!-- Trigger Button -->
  <p-button
    label="{{ T('addNotebook') }}"
    icon="pi pi-plus"
    class="mb-3"
    (onClick)="showDialog()"
  ></p-button>
  <!-- Form Dialog -->
  <p-dialog
    [(visible)]="displayDialog"
    [header]="T('title')"
    [style]="{ width: '400px' }"
    [modal]="true"
    [closable]="true"
    [draggable]="false"
  >
    <form [formGroup]="form">
      <p-card [style]="{ width: '360px' }">
        <ng-template pTemplate="content">
          <p-floatLabel>
            <input pInputText id="name" formControlName="name" />
            <label for="name">{{ T('name') }}</label>
          </p-floatLabel>
          <br />
          <br />
          <p-floatLabel>
            <input pInputText id="description" formControlName="description" />
            <label for="description">{{ T('description') }}</label>
          </p-floatLabel>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="{{ T('save') }}"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-check"
              (onClick)="submit()"
              [disabled]="!form.valid"
            />
            <p-button
              label="{{ T('cancel') }}"
              icon="pi pi-times"
              (onClick)="closeDialog()"
              class="p-button-secondary"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </form>
  </p-dialog>
  <p-table [columns]="cols" [value]="notebooks" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>{{ T('actions') }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            title="{{ T('edit') }}"
            (click)="edit(rowData)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            title="{{ T('delete') }}"
            (click)="delete(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
